extends ../layouts/internalLayout

block content
  .row
    .col-12
      .card
        .card-body.m-b-0 
          h1 hola mundo
          button.btn#callAjaxError call ajax error
          button.btn#callAjaxSuccess call ajax success
          button.btn#callAjaxInfo call ajax info
          button.btn#callAjaxWarn call ajax warning	
          hr
          form#formEjemplo.form-control-line
           

            .form-group
              label.form-control-label Default Text: 
              input.form-control._formJSON(type='text' name='nombre' required='true' requiredMessage='Ingrese el nombre' )
            .form-group
              label.form-control-label Default numero: 
              input.form-control._formJSON(type='number' name='edad')
            .form-group
              label.form-control-label Default email: 
              input.form-control._formJSON(type='email' name='email' required='true' )
            .form-group
              label.form-control-label AREA TEXTO: 
              textarea.form-control._formJSON(name='comentario')
            .form-group
              .demo-checkbox
                input#primaria._formJSON(type='checkbox' name='instruccion' value='' required='true')
                label(for='primaria') Primaria
                input#secundaria._formJSON(type='checkbox' name='instruccion' value='' required='true')
                label(for='secundaria') Secundaria
            hr
            .form-group
              .demo-checkbox
                input#arroz._formJSON(type='checkbox' name='comida' value='arroz')
                label(for='arroz') ARROZ
                input#sopa._formJSON(type='checkbox' name='comida' value='sopa')
                label(for='sopa') SOPA
                input#jugo._formJSON(type='checkbox' name='comida' value='jugo')
                label._formJSON(for='jugo') JUGO
            .form-group
              .demo-radio-button
                input#hombre._formJSON(name='sexo', type='radio' value='h')
                label(for='hombre') Hombre
                input#mujer._formJSON(name='sexo', type='radio' value='m')
                label(for='mujer') Mujer
            hr
            .form-group
              .demo-radio-button
                input#ra._formJSON(name='raza', type='radio' value='blanca')
                label(for='ra') blanca
                input#rn._formJSON(name='raza', type='radio' value='negra')
                label(for='rn') negra
            .form-group
              label.form-control-label Input Select
              select.form-control._formJSON(name='selecion' required='true')
                option(value='') Selecione
                option(value='1') 1
                option(value='2') 2
                option(value='3') 3
                option(value='4') 4
                option(value='5') 5



block script
  script(src='/app-js/home/init.js')
  